* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #cee1ff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Styles généraux pour la navigation */

nav {
    display: flex;
    justify-content: center;
    background-color: #2b7ffb;
    margin-top: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    width: 200px;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #72a8f8;
}

/* Styles pour les sous-menus */
.menu-item {
    position: relative;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2b7ffb;
    border-radius: 0 0 5px 5px;
}

.sub-menu a {
    display: block;
    color: white;
    text-decoration: none;
}

.presentation-group {
    display: flex;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.presentation-item {
    flex: 0 0 30%;
    border: 1px solid #2b7ffb;
    padding: 10px;
    margin: 10;
    text-decoration: none;
    color: black
}


/*********** logo *************/

.box_img_logo {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.logo {
    width: 200pt;
}

/*********** connexion **********/

.box_carte_connexion {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte_connexion {
    background-color: #2b7ffb;
    color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #5092f5;
}

.carte_connexion form {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.ipt_text_connexion {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    background-color: #e0e0e0;
    color: #000000;
    outline: none;
}

.sbmt_connexion {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    background-color: #579afd;
    color: white;
}

/************* barre de recherche *******************/

.contenaire_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.contenaire_input {
    width: 450px;
    margin: 60px;
    height: 50px;
    font-size: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.contenaire_input #search {
    width: 90%;
    height: 80%;
    font-size: 20px;
    background-color: #f4f4f4;
    border: 0;
    outline: 0;
}



/*********** tableau a valider visiteurs *******************/

.contenaire_resultat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #5092f5;
}

.table h3 {
    width: 25%;
    text-align: start;
}

.table .th_bouton_est_present {
    width: 15%;
}

.table_resultat {
    width: 80%;
}

.table_items {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;

}

.table_items h4 {
    width: 25%;
    height: 100%;
    text-align: start;
    display: flex;
    align-items: center;
}

.table_items .bouton_est_present {
    width: 15%;
    display: flex;
    align-items: center;
}

.table_items:nth-child(odd) {
    background-color: #c4c4c4;
}

.table_items form {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    align-items: center;
}

#bouton_aValider {
    background-color: #2b7ffb;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.contenaire_historique {
    margin-top: 100px;
}

.tbl_historique h3 {
    text-align: center;
}

.tbl_items_historique h4 {
    width: 100%;
    justify-content: center;
}

/*********** card conference ********************/

.card_c {
    width: 350px;
    height: 254px;
    background: #2b7ffb;
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.card_c:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    background: rgb(103, 151, 255);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card_c:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.second-content span {
    width: 60%;
    margin: 10px 0 10px 0;
    text-align: left;
}

.card_c:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 15px;
    transform: rotate(0deg);
}


/*********** info personnelle ******************/


#form_info_personnelle {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.info_personnelle {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b7ffb;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
}

.info_items {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.info_1,
.info_2 {
    width: 30%;
    text-align: left;
}


#info_btn_modif {
    align-items: center;
    appearance: none;
    background-color: #2b7ffb;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 30px;
}

#info_btn_modif:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#info_btn_modif:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#info_btn_modif:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.info_personnelle_modif .info_1,
.info_personnelle_modif .info_2 {
    width: 50%;
}

.info_personnelle_modif .info_2 input {
    height: 30px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}